@import "bootstrap.min";
@import "bootstrap.min.custom";
@import "variables";

body{
	background-color: $naranja;
	font-family: $font-family;
	.btn-naranja{
		border-radius: 3px;
		background: rgba(228, 179, 66, 0.8);
		color: $blanco;
		padding: 12px 55px;
		font-weight: bold;
	}
	.Header{
		background-size: cover;
		background: url("../images/slider.jpg");
		width: 100%;
		 background-position: top center;
		.container{
			width: 870px;
            overflow: hidden;

			.Header-Logo{
				padding: 20px 0px;
				img{
					padding: 10px 10px 10px 0;
					max-width: 150px;
					width: 100%;
				}
			}
			.Header-Menu{
				padding: 25px 0;
				nav{
					padding-left: 40px;
					  float: right;
					ul{
						li{
							a{
								border-left: 1px solid $blanco;
								line-height: 10px;
								color: #fff;
								margin: 10px 0;
								padding: 0px 15px;
								border-radius: 0;
								font-size: 12px;
								&:hover{
									background: none;
									color: #fff;
								}
							}

							&:first-child a{
								border-left: none;
								&:hover{

								}
							}

							&:last-child a{
								background: $blanco;
								color: $azul;
								padding: 10px 50px 10px 55px;
								margin: 0 0 0 10px;
								border-radius: 5px;
								font-weight: bold;
								border-left: none;
								&:hover{
									background: $azul;
									color: $blanco;
									span{
									color: $blanco;
									}
								}
								span{
									color: $negro;
	  								padding-left: 5px;
								}
							}
						}
					}
				}
			}
			.Header-Frase{
				padding: 176px 0 110px 0;
				p{
					padding: 15px 12px;
					background: rgba(0, 0, 0, 0.5);
					text-transform: uppercase;
					font-size: 48px;
					border-radius: 3px;
					color: #fff;
					font-weight: 800;
					line-height: 40px;
					letter-spacing: -3px;
					width: 92%;
				}

			}
		}
	}
	.Por-Que{
		background: $blanco;
		.container{
			width: 870px;
			padding: 10px;
                overflow: hidden;

			h2{
				font-size: 38px;
				color: $naranja;
				text-align: center;
				text-transform: uppercase;
				font-weight: 800;
				padding: 15px 0;
				margin: 0;
			}
			p{
				color: $grisTipo;
			}
			ul{
				padding-left: 20px;
  				font-weight: bold;
  				margin-bottom: 20px;
				li{
				}
			}
		}
	}
	.Recursos{
		background-size: cover;
		background: url("../images/recursos-bg.jpg");
		width: 100%;
        background-position: top center;
		.container{
			width: 870px;
			padding: 40px 0 90px 0;
                overflow: hidden;

			h3{
				font-size: 28px;
				color: $blanco;
				text-transform: uppercase;
				font-weight: 800;
				padding: 0;
				margin: 0;
			}
			p{
				padding: 10px 0;
				color: $blanco;
				letter-spacing: 1px;
			}
			ul{
				list-style: none;
				margin: 10px 0;
				padding: 0px;
				li{
					float: left;
					span{
						font-size: 65px;
						color: $blanco;
						padding: 15px;
					}
					&:first-child{
						span{
							padding-left: 0px;
						}
					}
				}
			}
		}
	}
	.Comentarios{
		background-size: cover;
		background: url("../images/comentarios-bg.jpg");
		width: 100%;
		background-position: top center;
		.container{
			width: 1075px;
			padding: 40px 0 0px 0;
                overflow: hidden;

			.Comentario{
				span{
				    color: #fff;
					  font-size: 147px;
					  float: left;
					  line-height: 93px;
					  width: 65px;
					  height: 49px;
					  margin-top: 20px;
				}
				.Comentario-Comillas-Left{
					background: url("../images/comillas-comment.png") no-repeat;

				}
				.Comentario-Comillas-Right{
					background: url("../images/comillas-comment.png") no-repeat;

				}
				p{
					color: #fff;
					font-size: 36px;
					font-style: italic;
					font-weight: lighter;
					width: 87%;
					float: left;
					line-height: 36px;
					border-bottom: 1px solid #fff;
					padding-bottom: 20px;
					letter-spacing: 1px;
					margin-bottom: 0px;
				}
			}
			.Comentario-User{
				padding-top: 30px;
				a.active{
					opacity: 1;
					span{
						  position: absolute;
						  top: -17px;
						  left: 45%;
						  font-size: 30px;
						  color: #fff;
					}
					img{
						opacity: 1;
					}
					h4{
						opacity: 1;

					}
					p{
						opacity: 1;

					}
				}
				a{
					opacity: 0.5;
					text-decoration: none;
					img{
						border-radius: 50%;
  						width: 60%;
						opacity: 0.5;

					}
					h4{
						color: $blanco;
						  font-size: 16px;
						  text-align: left;
						  margin-bottom: 0;
					opacity: 0.5;

					}
					p{
						color: $blanco;
						font-size: 8px;
						  font-style: italic;
						  font-weight: lighter;
						  line-height: 12px;
						  text-align: left;
					opacity: 0.5;

					}
				}
			}
			.Comentario-Bulets{
				padding-top: 15px;
				ul{
					  display: inline-block;
					  list-style: none;
					  margin: 0;
					  padding: 0;
					li{
						  float: left;
  						margin: 5px;
						a{
							  padding: 5px;
							  display: inline-block;
							  background-color: #fff;
							  border-radius: 50%;
						}
					}
				}
			}
		}
	}
	.Profesionales{
		background: #333333;
		padding: 45px 0;
		.container{
			width: 1000px;
			padding: 10px;
                overflow: hidden;

			p{
				color: $blanco;
				font-size: 32px;
				line-height: 32px;
			}
			.Profesiones{
				.Profesion{
					margin: 40px 0;
					float: left;
					span{
						border-radius: 50%;
					  padding: 5px;
					  border: 1px solid #fff;
					  color: #fff;
					  display: inline-block;
					  width: 32px;
					  text-align: center;
					  margin-right: 13px;
					}
					p{
						  color: #fff;
						  font-size: 12px;
						  display: inline-block;
						  margin: 0;
						  line-height: 30px;
					}
				}
			}
		}
	}
	.Latin-Crea{
		background-size: cover;
		background: url("../images/latin-crea-bg.jpg");
		width: 100%;
		background-position: top center;

		.container{
			width: 870px;
			padding: 70px 0 92px 0;
                overflow: hidden;

			h3{
				font-size: 28px;
				color: #333333;
				text-transform: uppercase;
				font-weight: 800;
				padding: 0;
				margin: 0;
			}
			p{
				padding: 10px 0;
				color: #333333;
			}
			botton{
				padding: 12px 20px;
			}
		}
	}
	.Que-Es{
		background-size: cover;
		background: url("../images/que-es-workana-bg.jpg");
		width: 100%;
		background-position: top center;

		.container{
			width: 1075px;
			padding: 90px 0 114px 0;
                overflow: hidden;

			h3{
				font-size: 28px;
				color: $blanco;
				text-transform: uppercase;
				font-weight: 800;
				padding: 0;
				margin: 0;
			}
			p{
				padding: 10px 0;
				color: $blanco;
			}
		}
	}
}

@import "responsive";
