$naranja: #f1b94a;
$blanco: #fff;
$azul: #143256;
$negro: #000;
$grisTipo: #666666;
$font-family: "Open Sans", sans-serif;
$phone-tablet: "(min-width: 321px) and (max-width: 767px)";
$desktop: "(min-width: 768px) and (max-width: 1200px)";